*{
    margin: 0;
    padding: 0;
    font-family:'poppins', sans-serif;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
}
.hero h1{
    font-size: 20px;
    text-align:center;
    width: 100%;
    position: relative;
    top: 200px;
    margin-bottom: 30px;
    color: #c4a3a3;
}

.container {
    height: 100vh;
    width:100%;
    background: rgb(26, 21, 21);
    display:flex;
    justify-content: center; 
    align-items: center;
}

.inputbox {
    width: 400px;
    max-width: 90%;
    position: absolute;
}

.inputbox input {
    width: 100%;
    height: 60px;
    padding: 0 20px;
    border: 1px solid #ccc;
    font-weight: 10px;
    outline:none;
    color: #fff;
    background: transparent;
}

.inputbox button {
    background: blanchedalmond;
    border:20px;
    outline:none;
    cursor: pointer;
    padding: 1px 10px;
    background-color:rgb(118, 148, 203);
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 15px;
}

.inputbox button img {
    width:35px;
}

#message {
    color: white;
    bottom:-30px;
    position:absolute;
    font-size: 14px;

    display: none;
}
::placeholder {
    font-size: 15px;
}

.footer-message {
    text-align: center;
    margin-bottom: 10px;
    position:relative;
    bottom: 150px;
    color: #c4a3a3;
    font-size: 12px;

}

.footer {
    text-align: center;
    bottom:20px;
    position: relative;
    bottom:150px;
    cursor: pointer;
    width:100%;
    font-size: 16px;
}
.footer a {
    top:20px;
    color: #fff;
    text-decoration: none;


}